<!doctype html>
<html>
  <head>
    <meta charset="utf8">
    <style>
<%= css %>
    </style>
  </head>
  <body>
    <canvas class="backdrop"></canvas>
    <nav>
      <a href="http://seattletimes.com">
        <img src="http://seattletimes.com/art/ui/seattletimeslogo_home.svg" class="logo"/>
      </a>
      <ul>
        <li id="bonw-title">Top Northwest companies 2013</a></li>
        <li class="company-ranking"><a href="#ranked-1">1<sup>st</sup></a></li>
        <li class="company-ranking"><a href="#ranked-2">2<sup>nd</sup></a></li>
        <li class="company-ranking"><a href="#ranked-3">3<sup>rd</sup></a></li>
        <li class="company-ranking"><a href="#ranked-4">4<sup>th</sup></a></li>
        <li class="company-ranking"><a href="#ranked-5">5<sup>th</sup></a></li>
        <li class="company-ranking"><a href="#chart">Chart</a></li>
      </ul>
    </nav>
    <% companies.forEach(function(co, i) { %>
    <section class="scroll-section" data-image="img/<%= co.img %>" id="ranked-<%= i + 1 %>">
      <div class="scroll-text company-info">
        <div class="header">
          <img class="numeral" src="img/NW<%= i + 1 %>.png">
          <h2><%= co.company %></h2>
        </div>

        <p class="description"><%= co.description %></p>

        <p><label>Headquarters</label> <%= co.hq %></p>
        <p><label>CEO</label> <%= co.ceo %></p>
        <p><label>Employees in 2013</label> <%= co.employees %></p>
        <p><label>What it does</label> <%= co.what %></p>
        <p><label>What sets it apart</label> <%= co.setApart %></p>
        <p><label>2013 cash flow</label> <%= co.cashFlow %></p>
        <p><label>2013 sales</label> <%= co.sales %></p>
        <a class="read-more" href="<%= co.url %>">READ STORY &raquo;</a>
      </div>
      <div style="clear: both"></div>
    </section>
    <% }) %>
    <section id="chart">
      <h1>THE CHART GOES HERE</h1>
      <div style="height: 300px;">
      </div>
    </section>
    <script>
<%= js %>
    </script>
  </body>
</html>