<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
    <title>Top Northwest Companies - 2014</title>

    <!-- webfonts -->
    <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>

    <!-- Favicon -->
    <link rel="shortcut icon" href="http://apps-production.s3.amazonaws.com/static/images/favicon.ico" type="image/x-icon">

    <!-- Social sharing meta -->
    <meta property="og:title" content="How Northwest companies fared in 2013">
    <meta property="og:site_name" content="The Seattle Times">
    <meta property="og:image" content="http://seattletimes.com/art/ui/fb_icon_large.jpg">
    <meta property="og:type" content="article">
    <meta property="og:url" content="http://apps.seattletimesdata.com/top-companies-2014">
    <meta property="og:description" content="The Seattle Times' 23rd annual ranking of publicly traded Northwest companies.">

    <!-- BEGIN TWITTER SUMMARY CARD -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:url" content="http://apps.seattletimesdata.com/top-companies-2014">
    <meta name="twitter:site" content="@seattletimes">
    <meta name="twitter:title" content="How Northwest companies fared in 2013">
    <meta name="twitter:description" content="The Seattle Times' 23rd annual ranking of publicly traded Northwest companies.">
    <meta name="twitter:image" content="http://seattletimes.com/art/ui/fb_icon_large.jpg">

    <!-- start Omniture -->

    <meta name="t_omni_pubdate" content="06/09/2014 20:00" />
    <meta name="t_omni_articleid" content="top-northwest-companies-2014" />
    <meta name="t_omni_author" content="Seattle Times staff" />
    <meta name="t_omni_pagename" content="st|businesstechnology|topcompanies" />
    <meta name="t_omni_site" content="st" />
    <meta name="t_omni_pagetype" content="newsapp" />
    <meta name="t_omni_contenttitle" content="Top Northwest companies 2014 | The Seattle Times" />
    <meta name="t_omni_path" content="st|businesstechnology|topcompanies|newsapp" />

    <!-- end Omniture -->

    <!-- Chartbeat top -->
  <script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>

    <style>
<%= css %>
    </style>
    <!-- start ad set-up -->
    <script type="text/javascript">
    <!--
    //modify for specific page info
    OAS_sitepage = 'www.seattletimes.com/business';
    OAS_query = '?jefferies&middleeast&davidreid&chinacentraltelevision&asiapacific&americas&statemedia&businessfinance&guangzhou&canada&shanghai&johnculver&universityofwashington&beijing&departmentofmanagement&pizzahut&unitedstates&africa&whitbread&kentucky&kfc&troyalstead&unitedkingdom&asia&coffeegiant&andybarish&belindawong&xiaopingchen&companyexpansion&yumbrands&seattleuniversity&howardschultz&starbuckschina&newyork&newyearsday&chinesecommunistparty&fosterschoolofbusiness&seattle&europe&china&washingtondc&agonzalezseattletimescom';
    OAS_listpos = 'Position1,TopRight,Right1,Top,Top1,Middle3,Position3,Right,Right2,Bottom,Top3';
    //-->
    </script>
    <script type="text/javascript" src="http://seattletimes.com/js/standardFunctionality/AdTags.js"></script>
    <!-- end ad set-up -->
  </head>
  <body>
    <canvas class="backdrop"></canvas>
    <nav>
      <a href="http://seattletimes.com">
        <img src="http://seattletimes.com/art/ui/seattletimeslogo_home.svg" class="logo"/>
      </a>
      <ul>
        <li id="bonw-title">Top Northwest companies 2014</a></li>
        <li class="company-ranking"><a href="#ranked-1">1st</a></li>
        <li class="company-ranking"><a href="#ranked-2">2nd</a></li>
        <li class="company-ranking"><a href="#ranked-3">3rd</a></li>
        <li class="company-ranking"><a href="#ranked-4">4th</a></li>
        <li class="company-ranking"><a href="#ranked-5">5th</a></li>
        <li class="company-ranking"><a href="#chart">Chart</a></li>
      </ul>
      <a class="share-button"></a>
    </nav>
    <% companies.forEach(function(co, i) { %>
    <section class="scroll-section" data-image="img/<%= co.img %>" id="ranked-<%= i + 1 %>">
      <div class="scroll-text company-info <%= !(i % 2) ? "" : "left" %>">
        <div class="header">
          <img class="numeral" src="img/NW<%= i + 1 %>.png">
          <h2><%= co.company %></h2>
        </div>

        <p class="description"><%= co.description %></p>

        <p><label>Headquarters</label> <%= co.hq %></p>
        <p><label>CEO</label> <%= co.ceo %></p>
        <p><label>Employees in 2013</label> <%= co.employees %></p>
        <p><label>What it does</label> <%= co.what %></p>
        <p><label>What sets it apart</label> <%= co.setApart %></p>
        <p><label>2013 cash flow</label> <%= co.cashFlow %></p>
        <p><label>2013 sales</label> <%= co.sales %></p>
        <a class="read-more" href="<%= co.link %>">READ STORY &#8594;</a>
        <% if (!i) { %>
        <div class="credit">
          <p><strong>REPORTERS:</strong> Sanjay Bhatt, Coral Garnick, Dominic Gates, Janet I. Tu</p>
          <p><strong>PHOTOGRAPHER:</strong> Ken Lambert
        </div>

        <% } %>
      </div>
      <div style="clear: both"></div>
    </section>
    <% }) %>

    <section class="ad">
      <img src="http://seattletimes.com/art/ui/adv_top.gif" width="7" height="70" alt="Advertising" class="ad-bug" />
        <script type="text/javascript">
        <!--
        OAS_AD('TopRight');
        //-->
        </script>
    </section>

    <section id="chart" class="text">
      <h1>How Northwest companies compare</h1>
      <div>
        <%- content %>
      </div>
    </section>

    <section class="text">
      <b>Reporters:</b> Sanjay Bhatt, Coral Garnick, Dominic Gates and Janet I. Tu<br>
      <b>Researcher:</b> Sanjay Bhatt<br>
      <b>News editor:</b> Suzanne LaViolette<br>
      <b>Photographer:</b> Ken Lambert<br>
      <b>Interactive by:</b> Thomas Wilburn, Katrina Barlow<br>
      <b>Web producer:</b> Hannah Birch<br>
      <b>Data sources:</b> Bloomberg, SEC filings
    </section>
    <script src="./share.min.js"></script>
    <script>
new Share(".share-button", {
  ui: {
    flyout: window.matchMedia && matchMedia("(max-device-width: 800px)").matches ? "top left" : "bottom left"
  }
})
    </script>
    <script>
<%= js %>
    </script>

    <!-- start Omniture -->
    <script language="JavaScript" type="text/javascript" src="http://marketplace.nwsource.com/shared/js/s_code.js?v=2.2"></script>
    <script language="JavaScript" type="text/javascript" src="http://marketplace.nwsource.com/shared/js/omniHelper.js?v=2.2"></script>
    <script language="JavaScript" type="text/javascript">
        if ('function' == typeof Omnihelper_PostIt) {
            Omnihelper_PostIt();
              } else {
            if ('function' == typeof window.omni_pageCode) { omni_pageCode(); }
            try { var s_code = s.t(); if (s_code) document.write(s_code) } catch (err) { }
        }
    </script>
    <!-- end Omniture -->

    <!-- Chartbeat bottom -->
    <script type="text/javascript">
      var _sf_async_config={uid:22565,domain:"seattletimes.com"};
      /** CONFIGURATION START **/
      _sf_async_config.useCanonical = "true";
      _sf_async_config.sections = "Top Northwest companies";
      _sf_async_config.authors = "By  Seattle Times business staff";
      /** CONFIGURATION END **/
      (function(){
        function loadChartbeat() {
          window._sf_endpt=(new Date()).getTime();
                                  var e = document.createElement('script');
                                  e.setAttribute('language', 'javascript');
                                  e.setAttribute('type', 'text/javascript');
                                  e.setAttribute('src',
            (("https:" == document.location.protocol) ? "https://a248.e.akamai.net/chartbeat.download.akamai.com/102508/" : "http://static.chartbeat.com/") + "js/chartbeat.js");
                                  document.body.appendChild(e);
                                  }
                                  var oldonload = window.onload;
                                  window.onload = (typeof window.onload != 'function') ? loadChartbeat : function() { oldonload(); loadChartbeat(); };
                          })();
    </script>

  </body>
</html>